# Node.js backend
server/node_modules
server/package-lock.json

# React frontend
client/node_modules
client/build
client/package-lock.json
client/src/components/p.txt
client/src/components/o.txt
.env
